body {
  text-align: center;
  margin-top: 20%
}
.heart {
	font-size: 250px;
	color: #e00;
	animation: beat .20s infinite alternate;
	transform-origin: center;

}
/* Heart beat animation */
@keyframes beat{
	to { transform: scale(1.2); }
}
